.big-banner-wrapper{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.banner-wrapper{
    width: 100%;
}

.banner-wrapper >a >img{
    width: 100%;
    border-radius: 50px;
}

@media (max-width: 780px) {
    .big-banner-wrapper{
        flex-direction: column;
    }
}