.competitions{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #FFF;
    box-shadow: 4px 4px 16.2px 3px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.competitions >label{
    position: relative;
    width: 400px;
    padding: 18px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #369;
    box-shadow: 4px 4px 16.2px 3px rgba(0, 0, 0, 0.15);
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    z-index: 1;
}

.filter-box{
    width: 368px;
    /* height: 175px; */
    border-radius: 25px;
    background: #CFCFCF;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25px;
}

.filter-box-top{
    display: flex
}

.filter-text{
    color: #FFF;
    text-align: left;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 30px;
    padding-left: 20px;
}

.filter-result-desk-remove {
    margin: 35px 0px 0px 20px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.filter-result-desk-remove>img {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.filter-result-desk-remove>label {
    cursor: pointer;
    color: #D44;
    font-family: Comfortaa;
    font-size: 16.622px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.filter-result-desk-remove>label:hover{
    color: darkred;
} 

.filters-wrapper{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter , .selected-filters{
    position: relative;
    padding: 7.5px 15px;
    margin: 0px 5px 5px 0px;
    gap: 7.5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 20px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.filter{
    background: #A9A9A9;
    color: #FFF;
}

.filter-name{
    user-select: none;
    cursor: pointer;
}

.selected-filters{
    background-color: white;
    color: #A9A9A9;
}



.filter-results{
    margin-top: -15px;
    width: 368px;
    display: flex;
    flex-direction: column;
}

.filter-results >label{
    width: 366px;
    height: 46px;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-left: 12px;
    border-radius: 23px;
    display: flex;
    align-items: center;
    text-align: left;
    background: #E6E6E6;
    color: #000;
    font-family: Comfortaa;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
    cursor: pointer;
}



.filter-dropdown{
    margin-right: 5px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #A9A9A9;
    transform: translateY(100%);
    gap: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;    
}

.filter-dropdown-row{
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    display: none;
}
  
input[type="checkbox"] + label {
    /* line-height: 1; */
    position: relative;
    padding-left: 23px;
    font-size: 17px;
    cursor: pointer;
    display: inline-block;
    border: none;
    overflow-wrap: anywhere;
}

input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
}
  
input[type="checkbox"]:checked + label:before {
    background-color: #369;
    border: 2px solid #369;
}