.footer-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
}

.footer-top {
    display: flex;
    flex-direction: row;
}

.footer-top >a{
    text-decoration: none;
}

.footer-facebook {
    display: flex;
    align-items: center;
    width: 328.714px;
    height: 78.856px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 2px 2px 12.1px 1px rgba(0, 0, 0, 0.20);
}

.footer-facebook-img {
    cursor: pointer;
    margin-left: 15px;
    width: 59.363px;
    height: 58.477px;
    border-radius: 16px;
    background: #0865FE;
}

.footer-facebook-img >img {
    width: 24.809px;
    height: 50.503px;
    position: relative;
    top: 8px;
    left: 20px;
}

.footer-facebook:hover , .footer-facebook >label:hover{
    opacity: 1;
}

.footer-facebook , .footer-facebook >label{
    opacity: 0.9;
    transition: 0.1s ease-in-out;
}

.footer-facebook >label {
    cursor: pointer;
    margin-left: 15px;
    color: #0865FE;
    font-family: Comfortaa;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 1px;

    /* 139.13% */
}

.footer-middle {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-middle>div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    font-family: Comfortaa;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    cursor: pointer;
    /* 145.455% */
}

@media (max-width: 520px) {
    .footer-middle{
        flex-direction: column;
    }
}

@media (max-width: 343px) {
    .footer-facebook {
       flex-direction: column;
       width: 240px;
       height: 150px;
       align-items: center;
       justify-content: center;
       gap: 5px;
    }
    .footer-facebook >label{
        text-align: center;
    }
}