#gencomp-wrapper {
    padding: 0px 8px;
    background: #FAFAFA;
    padding-bottom: 30px;
}

#gencomp-main {
    display: flex;
    margin-top: 20px;
}

#gencomp-main-left {
    width: 400px;
}

#gencomp-table {
    width: 100%;
}

#gencomp-main-right {
    display: flex;
    height: min-content;
    flex-direction: column;
    margin-left: 15px;
    gap: 15px;
} 

#gencomp-radio-field{
    margin-left: 10px;
    position: relative;
    top: 20px;
    display: flex;
    align-items: center;
    height: 30px;
    width: 90%;
    gap: 20px;
}

#gencomp-radio-field-content{
    display: flex;
}

#gencomp-radio-field-text{
    color: #C8C8C8;
    font-family: Comfortaa;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
}

/* #gencomp-radio-field >input{
   margin-left: 10px;
} */

@media (max-width: 1161px) {

    #gencomp-main {
        flex-direction: column;
        gap: 20px
    }

    #gencomp-main-left {
        width: 100%;
    }

    #gencomp-main-right {
        margin-left: 0px;
    }
}
