#gencomp-wrapper {
    padding: 0px 8px;
    background: #FAFAFA;
    padding-bottom: 30px;
}

#gencomp-main {
    position: relative;
    display: flex;
    margin-top: 20px;
}

#gencomp-main-left {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 400px;
}

#gencomp-table {
    width: 100%;
}

#gencomp-main-right {
    display: flex;
    height: min-content;
    flex-direction: column;
    margin-left: 415px;
    gap: 15px;
    height: fit-content;
} 

#gencomp-radio-field{
    margin-left: 10px;
    position: relative;
    top: 20px;
    display: flex;
    align-items: center;
    width: 90%;
    gap: 20px;
    flex-wrap: wrap;
}

.gencomp-radio-field-content{
    display: flex;
}

.gencomp-radio-field-text{
    color: #C8C8C8;
    font-family: Comfortaa;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
}

.gencomp-radio-field-content >label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #E6E6E6;
    background-color: #E6E6E6;
  }
  
  input[type="radio"]:checked + label {
    background-color: #E6E6E6;
  }
  
  input[type="radio"]:checked + label::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #369;
    margin: 2.5px;
  }
  
  /* Hide the default radio button */
  input[type="radio"] {
    display: none;
  }
@media (max-width: 1161px) {

    #gencomp-main {
        flex-direction: column;
        gap: 20px
    }

    #gencomp-main-left {
        width: 100%;
    }

    #gencomp-main-right {
        margin-left: 0px;
    }
}

@media (max-width: 369px) {
    #gencomp-radio-field-text{
        font-size: 16px;
    }
}
