#home-wrapper{
    padding: 0px 8px;
    background: #FAFAFA;
}



#home-next-comp{
    border-radius: 30px;
    background: #FFF;
    box-shadow: 4px 4px 16.2px 3px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px 20px;
}

#home-next-comp >h1{
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}



#home-next-comp >div{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.home-next-comp-label{
    color: #000;
    text-align: center;
    border-radius: 400px;
    background: #E6E6E6;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px;
}



#home-main{
    display: flex;
    margin-top: 20px;
}

#home-main-left{
    width: 400px;
}



#home-main-right{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    flex-grow: 1;
    gap: 15px;
}

#last-added-problems-wrapper{
    border-radius: 30px;
    background: #FFF;
    box-shadow: 4px 4px 16.2px 3px rgba(0, 0, 0, 0.15);
    padding: 10px 20px;
}

#last-added-problems-wrapper >label{
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#last-added-problems-wrapper >div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.problems{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 400px;
    background: rgba(45, 181, 51, 0.40);
    color: #000;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


#sign-up-wrapper{
    display: flex;
    align-items: center;
    height: 363px;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 4px 4px 16.2px 3px rgba(0, 0, 0, 0.15);
    padding: 0px 50px;
}

#sicademy-logo{
    width: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sicademy-logo >img{
    width: 220px;
}

#sicademy-info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#sicademy-info >label{
    color: #000;
    font-family: Comfortaa;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0.38px;
    margin-left: 20px;
}

#sicademy-info >a{
    text-decoration: none;
    width: 252px;
    height: 60px;
    border-radius: 68px;
}

#sicademy-link{
    margin-top: 10px;
    width: 252px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 68px;
    background: #369;
    box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.20);
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0.3px;
    transition: 0.2s ease-out;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
}

#sicademy-link:hover{
    border: 1px solid black;
}