.logo-wrapper {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper>img {
    width: 464px;
}

@media (max-width: 520px) {
    .logo-wrapper {
        height: 160px;
    }

    .logo-wrapper>img {
        width: 372px;
    }
}