.logo-wrapper {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper >img {
    cursor: pointer;
    width: 464px;
}

@media (max-width: 520px) {
    .logo-wrapper {
        height: 160px;
    }

    .logo-wrapper>img {
        width: 372px;
    }
}

@media (max-width: 370px) {
    .logo-wrapper {
        height: 160px;
    }

    .logo-wrapper>img {
        width: 280px;
    }
}

@media (max-width: 300px) {
    .logo-wrapper {
        height: 130px;
    }

    .logo-wrapper>img {
        width: 240px;
    }
}