.new-wrapper{
    padding: 31px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 4px 4px 16.2px 3px rgba(0, 0, 0, 0.15);
}

.new-top{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new-data-div-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.new-top >div >img{
    width: 100%;
}

.new-top >label{
    display: flex;
    justify-content: center;
    color: #000;
    font-family: Comfortaa;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 25px;
}

.new-middle{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.new-middle >label{
    text-align: justify;
    line-height: 1.4;
}